:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;

  --first-brand-color: #eceaeb;
  --second-brand-color: #89cb19;
  --third-brand-color: #ff8e16;
  --fourth-brand-color: #3a54d8;
  --fifth-brand-color: #cf2164;

  --main-font: 'Poppins';
  --title-font: 'Poppins Bold';
  --main-title-font: 'Poppins Black';

  font-size: 62.5%;
}
